
<!--Definindo se é um form de atualização ou de cadastro-->
{{#if jogo}}
  <h1>Atualiizar jogo</h1>
<form action="/usuarios/{{isiario.id}}/update" method="post">
{{else}}
<h1>Cadastro de Jogo</h1>
  <form action="/api/jogos" method="POST">
{{/if}}
    <div>
    <label for="nome">Nome do Jogo:</label><br>
    <input type="text" id="nome" name="nome" required><br><br>

    <label for="plataforma">Plataforma:</label><br>
    <input type="text" id="plataforma" name="plataforma" required><br><br>

    <label for="genero">Gênero:</label><br>
    <input type="text" id="genero" name="genero" required><br><br>

    <label for="preco">Preço:</label><br>
    <input type="number" id="preco" name="preco" step="0.01" required><br><br>

    <label for="lancamento">Data de Lançamento:</label><br>
    <input type="date" id="lancamento" name="lancamento" required><br><br>
    </div>
 {{#if jogo}}
    <input type="submit" value="Salvar"/>
   {{else}}
    <input type="submit" value="Cadastrar"/>
   {{/if}}
  </form>